/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 0.3125rem;
background: #FD6E0A; 
font-size: 20px;
color:white;
border: 0;
font-weight: 700;
padding:15px 35px;

}

/* Nav related Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 14.13rem;
}
.nav-title{
   
    color:  #181818;
    font-size: 2.8125rem;
    font-weight: 800;
   
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#474747;
}
/* Header related styles */
.header{
background-color:#FFF8F3;;
}
.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
  width:500px;
}